.form__input-error {
  opacity: 1;
  transition: 0.3s;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #ff0000;
  margin-bottom: 30px;
}
