.element__like-button {
  background: url(../../../images/heart.svg);
  background-position: center;
  height: 19px;
  width: 22px;
  border: 0;
  align-self: center;
  padding: 0 0;
  padding-right: 5px;
  cursor: pointer;
}

.element__like-button:hover {
  opacity: 0.4;
}
